@use "@fem/tokens/dist/scss/mixins" as *;
@use "./dashboard";

.overview {
    &__title {
        @extend %fem-text-heading-sans-200;
        color: var(--text-terciary);
        margin-bottom: 1.69rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        column-gap: 1.88rem;
        margin-bottom: 2.88rem;
    }
    &-card {
        border-radius: 0.3125rem;
        width: 100%;
        background-color: var(--background-terciary);
        display: grid;
        padding: 1.69rem 1.94rem  1.19rem 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        &__title {
            color: var(--text-secondary);
            @extend %fem-text-heading-sans-100;
            justify-self: start;
        }
        &__counter {
            @extend %fem-text-heading-sans-300;
            font-size: 2rem;
            justify-self: start;
        }
        &__image {
            justify-self: end;
        }
        &__indicator {
            align-self: end;
            justify-self: end;
            @extend .dashboard__indicator;
            &--success {
                color: var(--fem-color-text-success);
            }
            &--error {
                color: var(--fem-color-text-error);
            }
        }
    }
}

@media screen and (min-width:800px) {
    .overview {
        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}